.SideBarTab {
    height: 7vh;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    opacity: .4;
    font-weight: 670;
}

.SideBarTab:hover {
    opacity: 1;
}

.SideBarTab > * {
    padding-left: 2vw;
}

.Thumbnail {
    width: 25px;
    height: 25px;
}

.Active {
    opacity: 1;
}